* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    width: 200px;
    object-fit: contain;
    margin: 20px 0;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    /* display: flex; */
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    
}

nav ul li a {
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
}


/* nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
} */