* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
    /* min-height: 100vh; */
    padding: 0 8%;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    /* background-color: transparent; */
}

.logo {
    width: 200px;
    object-fit: contain;
    margin: 20px 0;
    filter: brightness(100);
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    /* display: flex; */
    display: inline-block;
    list-style: none;
    
    /* padding: 0 15px; */
    
}

nav ul li a {
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    padding:5px 15px;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.7);
    
}

nav ul li a:hover {
    background-color: #00ffff80;
    border-radius: 5px;
    /* padding: 5px; */
}

.banner {
    height: 600px;
    background-image: url("pesawat-1jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-info {
    margin-top: -200px;
    text-align: center;
    width: 50%;
}

.banner-info h2,
.banner-info h1 {
    font-family: 'Work Sans', sans-serif;
}

.banner-info h2 {
    font-size: 30px;
    color: #00FFFF;
    margin-bottom: 10px;
}

.banner-info h1 {
    font-weight: bold;
    font-size: 30px;
    color : #ADFF2F;
    margin-bottom: 10px;
    /* font-family: 'Work Sans', sans-serif; */
}

.banner-info p {
    font-family: "Lexend", cursive;
    font-size: 17px;
    font-weight: 500;
    color: #E0FFFF;
}

.banner-button {
    margin-top: 20px;
}

.banner-button button {
    margin: 0 10px;
    padding: 7px;
    font-weight: 600;
    background-color: #00BFFF	;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    color: rgb(226, 222, 222);
    border-radius: 5px;
}

.banner-button button:hover {
    background-color: #7FFFD4;
    color: gray;
    cursor: pointer;
}

.content {
    margin-top: 50px;
    height: 600px;
}

.content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    color: #778899;
    text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
}

.content-body {
    display: flex;
}

.content-card {
    /* height: fit-content; */
    margin: 0 5px;
    width: 400px;
    box-sizing: border-box;
}



.content-card img {
    /* object-fit: contain; */
    width: 100%;
    height:340px;
    /* background-color: #7FFFD4; */
}

.content-card-text {
    background-color: #1188eabf;
    margin-top: -4px;
    padding: 0 7px;
    border-radius: 5px;
    min-height: 100px;
    box-sizing: border-box;
}

.content-card-text h1 {
    padding-top: 5px;
    color: #DCDCDC;
}

.content-card-text p {
    text-align: center;
    margin-top: -10px;
    padding-bottom: 8px;
    font-family: "Lexend", cursive;
    color: #E0FFFF;
    font-size: 15px;
    font-weight: 400;
}

footer {
    height: 200px;
    background-color: #000;
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    /* align-items: center; */
}

.logo-footer {
    width: 200px;
    object-fit: contain;
    margin-top: -80px;
    filter: brightness(100);
}

.head-office {
    width: 400px;
    margin-top: 20px;
}

.head-office h1 {
    margin-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
    opacity: .8;
}

.head-office p {
    font-family: "Lexend", cursive;
    opacity: 0.6;
}

.social-media {
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-media h1 {
    font-family: 'Fira Sans', sans-serif;
    opacity: 0.6;
}

.contact-card {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact__info-list a, 
.contact__info-list span,
.contact__info-title {
    font-family: "Lexend", cursive;
    opacity: 0.6;
}

.contact__info-title {
    font-size: 14px;
    margin-bottom: 2px;
}

.contact__info-list a {
    text-decoration: none;
    color: white;
}

.contact__info-list a i {
    font-size: 20px;
    margin-right: 5px;
    transition: .5s;
}

.contact__info-list i:hover  {
    color: red;
    transform: scale(1.3);
}

